li .line1 {
font-size: 16px;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:0px;
	padding-left: 10px;
	font-weight: bold;
}

li .line2 {
	margin-top:4px;
	margin-bottom:0px;
	padding-left: 10px;
	color: #666666;
}

li .list-icon {
	float: left;
	margin-right: 12px;
	height: 75px; /* TODO: use 100x100 pics instead of scaling */ 
 }

#busy {
	display:none;
	position: absolute;
	top: 50%;
 	left: 50%;
	margin-left: -65px;
	margin-top: -31px;
	color: #FFFFFF;
	font-size: 24px;	
	z-index:6;
	background-image:url(/images/ajax-loader.gif);
	background-color: #000000;
	opacity:0.5;
 	width:120px;
	height:32px;
	padding: 30px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	
}

.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }
#home .ui-icon { background:  url(img/53-house.png) 50% 50% no-repeat; background-size: 22px 22px; }
#search .ui-icon { background:  url(img/06-magnify.png) 50% 50% no-repeat; background-size: 24px 24px;  }